<%- include('layout/header', { title: 'LinguAgil' }) %>

<main class="home">
	
	<h1 class="z-depth-1">O Shopping</h1>

	<div class="collection z-depth-1">
		<a href="lojas.html" class="collection-item waves-effect">
			<i class="material-icons">card_giftcard</i>
			2017
		</a>

		<a href="pagar-estacionamento.html" class="collection-item waves-effect">
			<i class="material-icons">directions_car</i>
			Inscrições
		</a>

		<a href="lojas.html" class="collection-item waves-effect">
			<i class="material-icons">card_giftcard</i>
			Eventos Anteriores
		</a>

		<a href="lojas.html" class="collection-item waves-effect">
			<i class="material-icons">directions_car</i>
			Grupo LinguAgil
		</a>

		<a href="https://github.com/linguagil/webapp" class="collection-item waves-effect" target="_blank">
			<i class="material-icons">loyalty</i>
			Código Fonte
		</a>
	</div>

</main>

<%- include('layout/footer') %>
