<%- include('layout/header', { title: 'LinguAgil' }) %>

<main class="home">
	
	<h1 class="z-depth-1">LinguÁgil</h1>

	<div class="collection z-depth-1">
		<a href="eventos/2017.html" class="collection-item waves-effect">
			<i class="material-icons">bubble_chart</i>
			2017
		</a>

		<a href="inscricoes.html" class="collection-item waves-effect">
			<i class="material-icons">directions_car</i>
			Inscrições
		</a>

		<a href="eventos/index.html" class="collection-item waves-effect">
			<i class="material-icons">card_giftcard</i>
			Eventos Anteriores
		</a>

		<a href="grupo.html" class="collection-item waves-effect">
			<i class="material-icons">directions_car</i>
			Grupo LinguAgil
		</a>
	</div>

</main>

<%- include('layout/footer') %>
